<div id="main-menu-mobile" class="main-menu-mobile">
  <ul>
    {{ $current := . }} {{ range .Site.Menus.nav }} {{ $active := or
    ($current.IsMenuCurrent "nav" .) ($current.HasMenuCurrent "nav" .) }} {{
    $active = or $active (eq .Name $current.Title) }} {{ $active = or $active
    (and (eq .Name "Blog") (eq $current.Section "post")) }} {{ $active = or
    $active (and (eq .Name "Tags") (eq $current.Section "tags")) }}
    <a href="{{ .URL }}" class="btn">{{ .Name }}</a>
    {{ end }}
  </ul>
</div>
